.background {
  background-image: url("../../public/background.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #003e57;
}
.gost {
  height: 40%;
}

.title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 3px;
}
.subtitle {
  font-size: 48px;
}
.description {
  font-size: 32px;
  margin-top: 12px;
  cursor: pointer;

}

.description:hover {
  transition: ease-in-out .2s;
  opacity: 70%;
}