

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cafdfe;
    height: 100vh;
    padding: 0 10px;
    color: #033f5c;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.checkboxContainer {
  position: relative;
  display: inline-block;
  margin: 8px;
}

.checkboxImage {
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.customCheckbox {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 32px;
  height: 32px;
  z-index: 2;
  accent-color: #019d9c;
  cursor: pointer;
  opacity: 0; 
  pointer-events: none;
}

.checkboxContainer.checked .checkboxImage {
  border: 4px solid #019d9c;
}

.mainSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;

}

.mainForm {
  width: 100%;
  margin: 6px 0;
}
.formInput {
  border: 1px solid #e3f0f4;
  font-size: 24px;
  color: #033f5c;
  border-radius: 6px;
  padding: 14px 12px;
  margin: 4px 0;
  width: 100%;
  background-color: white;
}
.formInput::placeholder {
  color: #033f5c;
}
.formInput:focus {
  outline: 2px solid #033f5c;
}

.endButton{
  background-color: #019d9c;
  color: white;
  border-radius: 14px;
  font-size: 20px;
  border: 1px solid #127e7b;
  width: 100%;
  padding: 8px 0;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 8px;
}

.endButton:hover {
  background-color: #127e7b;
  transition: .2s ease-in-out;
}

.consult {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #033f5c;
    margin:16px 0;
}

@media screen and (max-width: 768px) {
    .main {
      height: auto;
    }
  
}